*{
    margin:0px;
    padding: 0px;
    /* para que las cajas no se desborden */
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

.padre{
    display: flex;
    flex-flow: column nowrap;
}

header{
    background: #fff;
    display: flex;
    flex-flow: column nowrap;
    position: relative

}

.menu{
    display: flex;
    /* flex-flow: row nowrap; */
    height: 75px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

    .logo img{
        height: 50px;
        width: 200px;
        position: relative;
        top: 5px;
        left: 100px;
        margin-right: 350px;
        
    }

    .nav a{
        color: black;
        font-size: 13px;
        text-transform: uppercase;
        padding: 0 10px;
        letter-spacing: 2px;
        text-align: center;
        margin-left: 30px;
    }
    
    .nav a:hover{
        color: rgb(0,0,0,.3);
    }

    .titulo{
        margin-top: 40px;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
    }   
        .titulo h2{
            color: rgb(67, 69, 70);
            font-size: 28px;
            text-align: center;
        }
        .titulo p{
            margin-top: 10px;
            color: rgb(67, 69, 70);
            font-size: 18px;
            text-align: center;
        }
        .titulo hr{
            width: 75%;
            border: 2px solid;
            color: rgb(224, 224, 224);
            margin: auto auto;
        }

    
    .full{
        width: 100%;
        margin: auto;
        padding: 60px;

    }
    .full h2{
        color: #4bc9f4;
        text-align: center;
    }
  
    .full img{
        width: 500px;
        height: 400px;
        margin-right: 60px;
        float: left;
    }


    .basico{
        width: 100%;
        margin-top: 60px;
        padding: 60px;
    }

    .basico h2{
        color: #4bc9f4;
        text-align: center;
    }
  
    .basico img{
        width: 500px;
        height: 400px;
        margin-left: 60px;
        float: right;
    }

    /* control de accesos */

    .control{
        width: 100%;
        padding: 180px;
        margin-top: -80px;
    }

    .control h2{
        color: rgb(67, 69, 70);
        font-size: 28px;
        text-align: center;
    }

    .control img{
        width: 100%;
        height: 500px;
        margin-top: 30px;

    }

    
    /* Gestion */

    .titulo-gestion{
        margin-top: -160px;
        margin-bottom: 10px;
        padding: 60px;
        width: 100%;
    }   
        .titulo-gestion h2{
            color: rgb(67, 69, 70);
            font-size: 28px;
            
        }
        .titulo-gestion p{
            margin-top: 10px;
            color: rgb(67, 69, 70);
            font-size: 18px;
            justify-content: left;
        }
        .titulo-gestion hr{
            width: 75%;
            border: 2px solid;
            color: rgb(224, 224, 224);
            margin: auto 0px;
        }


        .metricas{
            margin: 0 60px;
            display: flex;
            flex-flow: row wrap;
        }
        .metr{
            /* margin-top: -30px; */
            padding: 10px;
            width: 300px;
        }
        .metr img{
            width: 50px;
            height: 50px;
            float: left;
            margin-top: 25px;
            margin-right: 10px;
        }

        .metr h2{
            color: rgb(67, 69, 70);
            font-size: 20px;
        }

        .metr p{
            color: rgb(67, 69, 70);
            font-size: 15px;
            margin-left: 55px;
        }

        .sol-demo{
            position: fixed;
            width: 250px;
            height: 50px;
            bottom: 20px;
            right: 20px;
            background: #4bc9f4;
            color: #fff;
            text-align: center;
            line-height: 50px;
            font-size: 20px;
            border-radius: 20px;
            cursor: pointer;
        }

        footer{
            margin-top: 50px;
            color: rgb(130, 116, 133);
            font-size: 13px;
        }